<div  class="col-6 col-lg-3 results" >
    <a href="{{ .RelPermalink }}" style="color: inherit;">
        <img id="img-fluid" class="b-lazy img-fluid text-center" src="{{ .Params.thumbnailImage }}" />
        <p class="text-center">
            <span style="font-size: 13px" class="sku">{{ .Params.title }}</span>
            <br>
            <span style="font-size: 16px" class="sku">
                
                {{ if .Params.actualPrice }}
                    {{ $.Scratch.Set "minimumPrice" (.Params.actualPrice | string) }}
                {{ else }}
                    {{ $.Scratch.Set "minimumPrice" "999999999999999"}}                 
                {{ end }}
                {{ if .Params.newPrice }}
                    {{ $.Scratch.Set "newPrice" (.Params.newPrice | string) }}
                {{ else }}
                    {{ $.Scratch.Set "newPrice" "999999999999999"}}                 
                {{ end }}
                {{ if .Params.inStock }}
                    {{ $.Scratch.Set "inStock" (.Params.inStock | string) }}
                {{ else }}
                    {{ $.Scratch.Set "inStock" "false" }}
                {{ end }}
                {{ if (eq ($.Scratch.Get "newPrice") "999999999999999")}} 
                    {{ $.Scratch.Get "minimumPrice" }}  
                {{else}}
                    Was: <strike> {{ $.Scratch.Get "minimumPrice" }} </strike> &nbsp; Now: {{ $.Scratch.Get "newPrice" }} 
                {{end}}$ 
                {{ if not (eq ($.Scratch.Get "inStock") "true")}} <span class="font-weight-bold">— Sold Out</span> {{ end }}
            </span>
        </p>
    </a>
</div>
    