<style>
  .container {
    max-width: 98%;
    margin: 1%;
  }
  #nav a {
    font-weight: bold;
    color: inherit;
  }
  #nav-border {
    border-bottom: 1px solid #212529;
  }
  #main {
    margin-top: 1em;
    margin-bottom: 4em;
  }
  #home-jumbotron {
    background-color: inherit;
  }
  .font-125 {
    font-size: 125%;
  }
  .tag-btn {
    margin-bottom: 0.3em;
  }
  img {
    max-width: 100%;
  }
  .product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  .product-description span {
    font-size: 22px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
  }
  .product-description p {
    font-size: 18px;
    font-weight: 300;
    color: black;
    line-height: 24px;
  }
  .product-price {
    display: flex;
    align-items: center;
  }
  .product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
  }
  .cart-btn {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
  }
  .cart-btn:hover {
    background-color: #64af3d;
  }
  </style>
  